# Ignore Python cache files
__pycache__/
*.pyc

# Ignore virtual environments
venv/
.env/

# Ignore system files
.DS_Store
Thumbs.db

# Ignore specific directories
logs/
temp/

#ignore large files
merged_data
unmerged_data
SSD
